<!DOCTYPE html>
<html>
    <head>
        <title>List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="container">
            <h3>students List</h3>
            <a href="/students/add" class="btn btn-primary pull-right">Add New</a>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">name</th>
                        <th scope="col">GeboorteDatum</th>
                        <th scope="col">StudieRichting</th>
                    </tr>
                </thead>
                <tbody  >
                    <% students.forEach(function(student) { %>
                    <tr>
                        <td><%= student.name %></td>
                        <td><%= student.geboortedatum %></td>
                        <td><%= student.studierichting %></td>
                    </tr>
                    <% }) %>
                    </tbody>
                  </table>
        </div>
    </body>
</html>